//! **************************************************************************
// Written by: Map P.20131013 on Sat Jul 03 12:56:05 2021
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

